<!doctype html>
<html ng-app="appRepoBrowser">

<head>
    <script src="node_modules/angular/angular.js"></script>
    <script src="scripts/app.module.js"></script>
    <script src="scripts/app.config.js"></script>
    <script src="scripts/searchForm.directive.js"></script>
    <script src="scripts/repoDetails.directive.js"></script>
    <script src="scripts/errorPanel.directive.js"></script>
    <script src="scripts/spinner.interceptor.js"></script>
    <script src="scripts/error.interceptor.js"></script>
    <script src="scripts/rateLimit.interceptor.js"></script>
    <script src="scripts/authentication.interceptor.js"></script>
    <script src="scripts/home.controller.js"></script>
    <script src="scripts/githubapi.service.js"></script>
    <script src="scripts/rateLimit.service.js"></script>
    <script src="scripts/authenticationState.service.js"></script>
    <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
    <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="container" ng-controller='HomeController as vm'>

        <error-panel></error-panel>

        <search-form on-submit="vm.getRepos(username)"></search-form>

        <div class="row" ng-show="vm.repos.length">
            <div class="col-md-offset-2 col-md-8">

                <hr />

                <div class="panel panel-default">
                    <div class="panel-heading">
                        GitHub Repositories
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="repo in vm.repos">
                                <repo-details repo="repo"></repo-details>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="text-center">
                    <uib-pagination
                        force-ellipses="true"
                        boundary-links="true"
                        boundary-link-numbers="true"
                        rotate="true"
                        max-size="8"
                        items-per-page="5"
                        num-pages="vm.numPages"
                        total-items="5 * vm.numPages"
                        ng-model="vm.currentPage"
                        ng-change="vm.onPageChanged()">
                    </uib-pagination>
                </div>

                <div class="pull-right">
                    <i>(limit: {{ vm.rateLimit.limit }}, remaining: {{ vm.rateLimit.remaining }}, reset: {{ vm.rateLimit.reset | date:'medium' }})</i>
                </div>
            </div>
        </div>

    </div>
</body>

</html>