<!doctype html>
<html ng-app="appRepoBrowser">

<head>
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
    <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <script src="node_modules/bootcards/dist/js/bootcards.js"></script>

    <script src="scripts/app.module.js"></script>
    <script src="scripts/app.constants.js"></script>
    <script src="scripts/app.config.js"></script>
    <script src="scripts/searchForm.directive.js"></script>
    <script src="scripts/repoDetails.directive.js"></script>
    <script src="scripts/errorPanel.directive.js"></script>
    <script src="scripts/spinner.directive.js"></script>
    <script src="scripts/spinner.interceptor.js"></script>
    <script src="scripts/error.interceptor.js"></script>
    <script src="scripts/rateLimit.interceptor.js"></script>
    <script src="scripts/authentication.interceptor.js"></script>
    <script src="scripts/home.controller.js"></script>
    <script src="scripts/githubapi.service.js"></script>
    <script src="scripts/rateLimit.service.js"></script>
    <script src="scripts/authenticationState.service.js"></script>

    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="node_modules/bootcards/dist/css/bootcards-desktop.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="container bootcards-container" ng-controller='HomeController as vm'>

        <div class="row">
            <div class="col-sm-12">
                <error-panel></error-panel>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <search-form on-submit="vm.onLookup(username, pageSize)"></search-form>
            </div>
            <div class="col-sm-6" ng-show="vm.user">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ vm.user.login }} ({{ vm.user.name }}, {{ vm.user.location }})</h3>
                    </div>
                    <div class="list-group">
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-sm-6">
                                    <img ng-src="{{ vm.user.avatar_url }}" class="img-rounded pull-left">
                                    <h4 class="list-group-item-heading">Created</h4>
                                    <p class="list-group-item-text">{{ vm.user.created_at | date:'mediumDate' }}</p>
                                </div>
                                <div class="col-sm-6">
                                    <h4 class="list-group-item-heading">Updated</h4>
                                    <p class="list-group-item-text">{{ vm.user.updated_at | date:'mediumDate' }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item" ng-show="vm.user.blog">
                            <h4 class="list-group-item-heading">Blog</h4>
                            <a class="list-group-item-text" ng-href="{{ vm.user.blog }}">{{ vm.user.blog }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-show="vm.repos.length">

            <hr />
            
            <div class="col-sm-6 bootcards-list">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">GitHub Repos</h3>
                    </div>
                    <div class="list-group">
                        <a class="list-group-item" ng-class="{ active: repo.name == vm.selectedRepo.name }" href="#" ng-repeat="repo in vm.repos" ng-click="vm.onRepoSelected(repo)">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h4 class="list-group-item-heading">{{ repo.name }}</h4>
                                    <small class="list-group-item-text" style="width: 96%">{{ repo.description }}</small>
                                </div>
                                <div class="col-sm-3">
                                    <span class="small pull-right"><i>{{ repo.language }}</i></span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="panel-footer">
                        <div class="text-center">
                            <uib-pagination
                                class="pagination-sm"
                                force-ellipses="true"
                                boundary-links="true"
                                boundary-link-numbers="false"
                                rotate="true"
                                max-size="5"
                                items-per-page="vm.pageSize"
                                num-pages="vm.numPages"
                                total-items="vm.pageSize * vm.numPages"
                                ng-model="vm.currentPage"
                                ng-change="vm.onPageChanged()">
                            </uib-pagination>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 bootcards-cards">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ vm.selectedRepo.name }}</h3>
                    </div>
                    <div class="list-group">
                        <div ng-show="vm.selectedRepo.description" class="list-group-item">{{ vm.selectedRepo.description }}</div>
                        <div ng-show="!vm.selectedRepo.description" class="list-group-item"><i>(no description)</i></div>
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h4 class="list-group-item-heading">Created</h4>
                                    <p class="list-group-item-text">{{ vm.selectedRepo.created_at | date:'mediumDate' }}</p>
                                </div>
                                <div class="col-sm-6">
                                    <h4 class="list-group-item-heading">Updated</h4>
                                    <p class="list-group-item-text">{{ vm.selectedRepo.updated_at | date:'mediumDate' }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h4 class="list-group-item-heading">Language</h4>
                                    <p class="list-group-item-text">{{ vm.selectedRepo.language }}</p>
                                </div>
                                <div class="col-sm-6">
                                    <h4 class="list-group-item-heading">Forks</h4>
                                    <p class="list-group-item-text">{{ vm.selectedRepo.forks }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h4 class="list-group-item-heading">Stars</h4>
                                    <p class="list-group-item-text">{{ vm.selectedRepo.stargazers_count }}</p>
                                </div>
                                <div class="col-sm-6">
                                    <h4 class="list-group-item-heading">Watchers</h4>
                                    <p class="list-group-item-text">{{ vm.selectedRepo.watchers }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-show="vm.rateLimit.limit">
            <div class="text-center">
                <i>(limit: {{ vm.rateLimit.limit }}, remaining: {{ vm.rateLimit.remaining }}, reset: {{ vm.rateLimit.reset | date:'medium' }})</i>
            </div>
        </div>

    </div>
</body>

</html>