<div class="container bootcards-container">
    <div class="row">
        <div class="col-sm-12">
            <error-panel></error-panel>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <search-form on-submit="vm.onLookup(username, sortBy, sortDirection, pageSize)"></search-form>
        </div>
        <div class="col-sm-6" ng-show="vm.user">
            <user-details user="vm.user"></user-details>
        </div>
    </div>
    <div class="row" ng-show="vm.repos.length">
        <hr />
        <div class="col-sm-6 bootcards-list">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">GitHub Repos</h3>
                </div>
                <div class="list-group">
                    <repo-summary ng-repeat="repo in vm.repos" repo="repo" selected-repo="vm.selectedRepo" on-repo-selected="vm.onRepoSelected(repo)"></repo-summary>
                </div>
                <div class="panel-footer">
                    <div class="text-center">
                        <uib-pagination
                            class="pagination-sm"
                            force-ellipses="true"
                            boundary-links="true"
                            boundary-link-numbers="false"
                            rotate="true"
                            max-size="5"
                            items-per-page="vm.pageSize"
                            num-pages="vm.numPages"
                            total-items="vm.pageSize * vm.numPages"
                            ng-model="vm.currentPage"
                            ng-change="vm.onPageChanged()">
                        </uib-pagination>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 bootcards-cards">
            <repo-details repo="vm.selectedRepo"></repo-details>
        </div>
    </div>
    <div class="row" ng-show="vm.rateLimitState.limit">
        <div class="text-center">
            <i>(limit: {{ vm.rateLimitState.limit }},
                remaining: {{ vm.rateLimitState.remaining }},
                reset: {{ vm.rateLimitState.reset | date:'medium' }})</i>
        </div>
    </div>
</div>
