<form name="form" novalidate>

    <div class="form-group" ng-class="vm.feedbackClasses()">
        <label class="control-label" for="token">GitHub OAuth token:</label>
        <input class="form-control" id="token" type="text" ng-model="vm.AuthenticationStateService.token" required>
        <span ng-show="vm.AuthenticationStateService.getTokenIsGood()" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
        <span ng-show="vm.AuthenticationStateService.getTokenIsBad()" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
    </div>

    <div class="form-group">
        <label class="control-label" for="username">GitHub Username:</label>
        <input class="form-control" id="username" type="text" ng-model="vm.username" required>
    </div>

    <div class="form-group">
        <label class="control-label">Sort By:</label>
        &nbsp;
        <label>
            <input id="radioSortByFullName" type="radio" name="sortBy" value="full_name" ng-model="vm.sortBy">
            Full Name
        </label>
        &nbsp;
        <label>
            <input id="radioSortByCreated" type="radio" name="sortBy" value="created" ng-model="vm.sortBy">
            Created
        </label>
        &nbsp;
        <label>
            <input id="radioSortByUpdated" type="radio" name="sortBy" value="updated" ng-model="vm.sortBy">
            Updated
        </label>
        &nbsp;
        <label>
            <input id="radioSortByPushed" type="radio" name="sortBy" value="pushed" ng-model="vm.sortBy">
            Pushed
        </label>
    </div>

    <div class="form-group">
        <label class="control-label">Sort Direction:</label>
        &nbsp;
        <label>
            <input id="radioSortDirectionAscending" type="radio" name="sortDirection" value="asc" ng-model="vm.sortDirection">
            Ascending
        </label>
        &nbsp;
        <label>
            <input id="radioSortDirectionDescending" type="radio" name="sortDirection" value="desc" ng-model="vm.sortDirection">
            Descending
        </label>
    </div>

    <div class="form-group">
        <label class="control-label">Page Size:</label>
        &nbsp;
        <label>
            <input id="radioPageSize5" type="radio" name="pageSize" value="5" ng-model="vm.pageSize">
            5
        </label>
        &nbsp;
        <label>
            <input id="radioPageSize10" type="radio" name="pageSize" value="10" ng-model="vm.pageSize">
            10
        </label>
        &nbsp;
        <label>
            <input id="radioPageSize25" type="radio" name="pageSize" value="25" ng-model="vm.pageSize">
            25
        </label>
    </div>

    <div>
        <button class="btn btn-sm btn-primary" type="submit" ng-click="vm.onFormSubmit()">Get Repos</button>
        <spinner></spinner>
    </div>
</form>