<div class="row">
    <form class="col-md-offset-2 col-md-8" name="form" novalidate>
        <div class="form-group" ng-class="vm.feedbackClasses()">
            <label class="control-label" for="token">GitHub OAuth token:</label>
            <input class="form-control" id="token" type="text" ng-model="vm.authenticationState.token" required>
            <span ng-show="vm.authenticationState.getTokenIsGood()" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span ng-show="vm.authenticationState.getTokenIsBad()" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
        </div>
        <div class="form-group">
            <label class="control-label" for="username">GitHub Username:</label>
            <input class="form-control" id="username" type="text" ng-model="vm.username" required>
        </div>
        <!--<div class="form-group">
            <label class="control-label" for="filter">Filter:</label>
            <input class="form-control" id="filter" type="text" ng-model="vm.filter">
        </div>-->
        <button class="btn btn-sm btn-primary" type="submit" ng-click="vm.onFormSubmit()">Get Repos</button>
    </form>
</div>
